main {
    position: absolute;
    top: 250px;
    left: 30%;
    width: 800px;
    height: 500px;
    padding: 50px;
    margin: 20px;
    background-color: #f44336;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px 50px;
    font-family: 'Montserrat', sans-serif;
  }
  .overlay h1{
    position: absolute;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 30%;
    left: 62px;
    color: white;
  }

  .overlay p{
    font-size: 14px;
	font-weight: 100;
    position: absolute;
    top: 41%;
    left: 95px;
    color: white;
    text-align: center;
}

.overlay a{
    font-size: 14px;
	font-weight: 100;
    position: absolute;
    top: 55%;
    left: 19%;
    border: 1.5px solid white;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.overlay a:hover {
    background-color: rgb(244, 67, 54);
    color: white;
    
  }

main .h1{
    top: 100px;
}
form{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0.1px;
    right: 0.0%;
    width: 400px;
    height: 500px;
    padding: 50px;
    border-radius: 0px 50px 10px 0px;
}
h1{
    position: absolute;
    top: 70px;
    left: 160px;
    text-size-adjust: 100px;
    font-size: 104px;
}

.form-floating{
    top: 80px;
}

.checkbox{
    position: relative;
    top: 80px;
}

button{
    position: relative;
    top: 80px;
    left: 105px;

}

.btn{
    color: white;
    width: 100px;
    height: 45px;
    font-size: 16px;
    background-color: #f44336;
}

.btn:hover {
    background-color: rgb(244, 67, 54);
    color: white;
}
/*register

